<%- include('../layouts/_encabezado') %>

    <div class="d-flex justify-content-between align-items-center vh-100">
        <div class="col-10 col-md-6 col-lg-4 col-xxl-2 m-auto p-4" style="box-shadow:0px 12px 23px 4px #e2e2e2;">
            <div class="text-center mb-5">
                <img src="images/pladse.png" alt="logo" class="w-100" />
            </div>
            <form action="/iniciarSesion" method="post" class="account">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="CorreoElectronico" name="CorreoElectronico"
                        placeholder="correo@example.com">
                    <label for="CorreElectronico">Correo Electrónico</label>
                </div>
                <div class="form-floating mb-5">
                    <input type="password" class="form-control" id="Password" name="Password" placeholder="Contraseña">
                    <label for="Password">Contraseña</label>
                </div>
                <div class="my-4">
                    <span id="mensajeLabel" class="text-danger"></span>
                </div>
                <div class="text-end">
                    <button class="btn btn-pl-primary" type="button" id="iniciarSesionButton"
                        onclick="iniciarSesion(event);">Iniciar Sesión</button>
                </div>
                <div class="my-5">
                    <a href="/registro" class="me-2">¿Aún no tienes cuenta?</a>|
                    <a href="/recuperarPwd" class="ms-2">¿Olvidaste tu contraseña?</a>
                </div>
            </form>
        </div>
    </div>

<%- include('../layouts/_pie') %>